#!/usr/bin/env zsh

export SYSTEM=$(uname -s)

# Colorful term
export TERM="xterm-256color";

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE="32768";
export HISTFILE="${HOME}/.histfile";
export HISTFILESIZE="${HISTSIZE}";
export SAVEHIST="10000";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LANGUAGE='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';
export LC_COLLATE='en_US.UTF-8';
export LC_CTYPE='en_US.UTF-8';
export LC_MESSAGES='en_US.UTF-8';
export LC_MONETARY='en_US.UTF-8';
export LC_NUMERIC='en_US.UTF-8';
export LC_TIME='en_US.UTF-8';
export LESSCHARSET='utf-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

# NVM 
# async completion load for faster tty load 
export NVM_LAZY_LOAD=true;
export NVM_COMPLETION=true;
# nvm use should make a symlink
export NVM_SYMLINK_CURRENT=true;
export NVM_DIR="$HOME/.nvm";

# Editor
export EDITOR='code';
